<h1><%= @user.username %>'s Profile</h1>

<li><%= link_to "Exercise Index", { :controller => "exercises", :action => "index" } %></li>

<li><%= link_to "New Review", { :controller => "reviews", :action => "new" } %></li>