<h1>The Workout Library</h1>

<img src="https://i.pinimg.com/originals/c6/d8/38/c6d8386d6b77c9b7d9d3e7e8e9f0e868.jpg" width="50%" >
<br><br>
<button class="menu"> <%= link_to "Login", login_path%> </button>
<button class="menu"> <%= link_to "Signup", signup_path%> </button>